@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager


    <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })" method="post" id="logoutForm" class="navbar-right">
        <ul class="nav navbar-nav navbar-right">
            <li>
                <button asp-area="Identity" asp-page="/Account/Manage/Index" sytle="background-color:transparent" class="btn navbar-btn" title="Manage">
                    <span class="fas fa-user" style="color:#e9415a"></span>
                </button>
            </li>
        </ul>
    </form>
