﻿
@{
    ViewData["Title"] = ViewBag.proto.Title;
    Layout = "~/Views/Shared/_ProjectLayout.cshtml";
}

<head>
    <link rel="stylesheet" href="~/css/ProtocolStyle.css">
</head>

<h1>@ViewBag.proto.Title</h1>
<h2>@ViewBag.proto.Authors</h2>


@functions{
    String output = "";
    void printTree(SystematicManager.Models.Entities.Section sec)
    {
        int depth = sec.CalcDepth();
        output += "<div id=\"" + "heading" + "_" + sec.Id + "\">";
        output += "<div class=\"header" + depth.ToString() + "\">";
        output += sec.Heading;
        output += @"<button class=""btn btn-default btn-circle btn-sm add_button"" ";
        output += "onclick=\"addsection(" + "heading" + "_" + sec.Id + ")\">";
        output += @"<i class=""fa fa-plus fa-lg"" aria-hidden=""true""></i></button><button class=""btn btn-default btn-circle btn-sm minus_button"" ";
        output += "onclick=\"removesection(" + "heading" + "_" + sec.Id + ")\">";
        output += @"<i class=""fa fa-minus fa-lg"" aria-hidden=""true""></i></button></div><br />";
        if (!String.IsNullOrEmpty(sec.Text))
        {
            output += "<textarea spellcheck=\"false\" class=\"form-control\">" + sec.Text + "</textarea><br />";
        }
        if (sec.ChildSections.Count > 0)
        {
            foreach (SystematicManager.Models.Entities.Section child in sec.ChildSections)
                printTree(child);
        }
        output += "</div>";
    }

    void rootTraversal()
    {
        SystematicManager.Models.Entities.Protocol proto = (SystematicManager.Models.Entities.Protocol)ViewBag.proto;
        output += "<div id=\"root\">";
        foreach (SystematicManager.Models.Entities.Section sec in proto.ChildSections)
        {
            printTree(sec);
        }
        output += "</div>";
    }

    string getOutput()
    {
        rootTraversal();
        return output;
    }
}


@Html.Raw(getOutput())


<script src="~/js/proto.textarea.autosize.js"></script>
<script type="text/javascript">
    var removedsections = [];
    function removesection(element) {
        removedsections.push(element.id);
        element.parentNode.removeChild(element);
    }

    function addsection(sibling) {
        var heading = prompt("Please enter heading name", "Heading Title");
        alert("Yeah---this function doesn't work yet.")
    }
</script>
