﻿textarea {
    outline: none;
    resize: none;
    background-color: transparent;
}

    textarea:hover {
        outline: solid;
        outline-color: #E9415A;
        outline-width: 1px;
    }

.form-control {
    background-color: transparent;
    border: none;
}

h1 {
    color: #34434F;
    text-align: center;
    font-size: 32px;
    font-weight: lighter;
}

h2 {
    color: #E9415A;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}

.header1 {
    color: #34434F;
    font-size: 28px;
}

.header2 {
    color: #E9415A;
    text-align: center;
    font-size: 22px;
    font-family: 'Poppins', sans-serif;
}

.header3 {
    color: #34434F;
    font-size: 18px;
    text-align: right;
    margin: 0 0 0 30px;
    font-family: 'Raleway', sans-serif;
}

.header4 {
    color: #E9415A;
    font-size: 18px;
    text-align: right;
    margin: 0 0 0 60px;
    font-family: 'Quicksand', sans-serif;
}

.add_button {
    color: #264C24;
    background-color: transparent;
}
    .add_button:hover {
        background-color: palegreen;
    }

.minus_button {
    color: red;
    background-color: transparent;
}

    .minus_button:hover {
        background-color: palevioletred;
    }

.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
}